
		*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
	    background:linear-gradient(135deg,#0F172A,#1E293B,#312E81);

    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;

}

.container{
width:520px;
background:white;
padding:45px;
border-radius:20px;
box-shadow:0 20px 40px rgba(0,0,0,.35);
border-top:8px solid #6D28D9;
}

h2{
    color:#1E3A8A;
    font-size:32px;
}

.tabs{
display:flex;
margin-bottom:25px;
border-radius:10px;
overflow:hidden;
}

.tabs button{
width:50%;
padding:15px;
border:none;
background:#e6e6e6;
font-size:16px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

.tabs button.active{
    background:#2563EB;
}

.role-text{
text-align:center;
font-size:18px;
font-weight:bold;
margin-bottom:25px;
color:#555;
}

.input-box{
margin-bottom:20px;
}

.input-box label{
display:block;
margin-bottom:8px;
font-weight:bold;
}

.input-box input{
width:100%;
padding:14px;
border:2px solid #ddd;
border-radius:10px;
font-size:15px;
}

.input-box input:focus{
outline:none;
border-color:#6D28D9;
}

.login-btn{
width:100%;
padding:15px;
  background:#2563EB;
color:white;
border:none;
border-radius:10px;
font-size:17px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

.login-btn:hover{
background:#1D4ED8;
}

.register{
margin-top:25px;
padding-top:20px;
border-top:1px solid #ddd;
text-align:center;
}

.register h3{
color:#4C1D95;
margin-bottom:10px;
}

.register p{
margin-bottom:15px;
}

.register a{
display:inline-block;
padding:12px 25px;
 background:#2563EB;
color:white;
text-decoration:none;
border-radius:8px;
transition:.3s;
}

.register a:hover{
 background:#1D4ED8;
}
/* Back Button */

.back-btn{

display:inline-block;

margin-bottom:20px;

padding:10px 18px;

background:#475569;

color:white;

text-decoration:none;

border-radius:8px;

font-weight:bold;

transition:.3s;

}

.back-btn:hover{

background:#334155;

}